<header>
  <div class="toolbar-container">
    <mat-toolbar color="primary">
      <button mat-icon-button>
      </button>
      <p class="title">Just A Girl ❤️</p>
      <span class="spacer"></span>
      <button mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</button>
      <button mat-button routerLink="/about" routerLinkActive="active-link">About</button>
      <button mat-button>Contact</button>
    </mat-toolbar>
  </div>
</header>